.banner {
  position: relative;
  background: url(/public/images/catchthesun.jpg) center/no-repeat;
  width: 100%;
  height: 380px;
  border-radius: 16px;
  overflow: hidden;
  margin: 40px 0;
}

.priceTag {
  position: absolute;
  top: 28px;
  right: 30px;
  width: 100px;
  height: 100px;
  background: #791d1d;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  z-index: 2;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.06);
}

.priceTag span {
  font-size: 18px;
  font-weight: 500;
  line-height: 1;
}

.priceTag strong {
  font-size: 22px;
  font-weight: 700;
  line-height: 1.1;
}

.content {
  position: absolute;
  bottom: 24px;
  left: 24px;
  display: flex;
  align-items: flex-start; 
  gap: 16px;
}

.title {
  margin: 0;
  font-size: 5rem;
  line-height: 1.1;
  font-weight: 700;
  color: #003d7a;
}

.button {
  align-self: flex-end;
  position: relative;
  right: 25rem;
  bottom: 1rem;
  background-color: #f7941d;
  color: #000000;
  padding: 9px 16px;
  font-size: 16px;
  font-weight: 700;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background 0.2s;
}

.button:hover {
  background-color: #da7605;
}

.dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 12px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.dots li {
  width: 12px;
  height: 12px;
  border: 2px solid #f7941d;
  border-radius: 50%;
  background: transparent;
  cursor: pointer;
  transition: background 0.2s;
}

.dots li.active {
  background-color: #f7941d;
}