.container {
  background-color: white;
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
  height: 70vh;
  padding: 0 4rem;
}

.pagewrapper {
  max-width: 1280px;
  margin: 0 auto;
  
}

@media (max-width: 480px) {

 .container {
  background-color: white;
  max-width: 1280px;
  height: 100vh;
  margin: 0 auto;
  width: 100%;
  padding: 0 0.3rem;
}
}