.container {
  background-color: white;
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  padding: 0 4rem;
}

.pagewrapper {
  max-width: 1280px;
  height: 100vh;
  margin: 0 auto;
  
}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
}


.main {
  display: flex;
  flex-direction: column;
  max-width: 1100px;
  padding: 24px 16px 60px;
  margin: 0 0;
}

.title {
  font-size: 28px;
  font-weight: 800;
  margin-bottom: 12px;
}

.empty {
  color: #333;
}


.actions {
  display: flex;
  gap: 12px;
  margin-bottom: 12px;
}


.btn {
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid #e5e7eb;
  background: #fff;
  cursor: pointer;
}


.bookingItem {
  margin-bottom: 16px;
}


.removeBtn {
  margin-top: 8px;
}


.btn:hover {
  border-color: #d6dae0;
}







@media (max-width: 780px) {

 .container {
  padding: 0rem 0rem;
  padding-right: 10rem;
  padding-left: 5rem;

 }

.header {
  display: none;
}



}

@media (max-width: 765px) {

 .container {
  padding: 0rem 0rem;
  padding-right: 15rem;
  padding-left: 5rem;

 }



}

@media (max-width: 630px) {

 .container {
  padding: 0rem 0rem;
  padding-right: 10rem;
  padding-left: 5rem;

 }

@media (max-width: 550px) {

 .container {
  padding: 0rem 0rem;
  padding-right: 13rem;

 }

}

@media (max-width: 550px) {

 .container {
  padding: 0rem 0rem;
  padding-right: 13rem;

 }

}
@media (max-width: 520px) {

 .container {
  padding: 0rem 0rem;
  padding-right: 4.5rem;
  height: 100%;
  

 }

}
}
