.footer {
  background: #eef2f4;
  
}

.inner {
  max-width: 1180px; 
  margin: 0 auto;    
  padding: 44px 22px 30px;
}

.brandRow {
  margin-bottom: 22px;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    gap: 0.5rem;
    
}
.mainName {
  font-size: 1.5rem;
  font-weight: bold;
  color: #0063BD;
}

.emblem {

    background-color: orange;
    color: white;
    border: 1px solid white;
    border-radius: 3rem;
    text-align: center;
    height: 35px;
    width: 35px;
    
}


.columns {
  display: grid;
  grid-template-columns: repeat(3, minmax(260px, 1fr));
  column-gap: 140px;          
  row-gap: 0;                
  align-items: start;
  padding: 0 5rem;
}

.column h4 {
  margin: 0 0 14px;
  font-size: 22px;
  font-weight: 700;
}

.column ul { list-style: none;
   padding: 0;
    margin: 0;
  text-decoration: none; }
.column li {
  margin: 12px 0;
  font-size: 18px;
  line-height: 1.55;
  color: #233142;
}

.column li a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
.socials {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 22px;
  font-size: 1.8rem;
  margin-top: 40px;
}




@media (max-width: 1024px) {
  .columns { column-gap: 64px; }
}
@media (max-width: 840px) {
  .columns { grid-template-columns: 1fr 1fr; row-gap: 28px; }
}
@media (max-width: 560px) {
  .columns { grid-template-columns: 1fr; }
.socials {
  display: flex;
  justify-content: flex-start;
}
.columns {
  position: relative;
  right: 4.7rem;
}
}
@media (max-width: 480px) {



.socials {
  display: flex;
  justify-content: flex-start;
}
}