
.wrap{
  display:flex;
  align-items: stretch;
  gap: 0rem;
  margin: 14px 0;
}


.left{
  background:#ffffff;
  border:1px solid #e6e6e6;
  border-right: 1.5px dashed rgb(189, 189, 189);
  border-radius:1.4rem;
  padding:16px 18px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display:flex;
  flex-direction:column;
  gap:14px;
  min-width: 50%;
}

.right{
  background:#ffffffe3;
  border:1px solid #e6e6e6;
  border-left: 1.5px dashed rgb(189, 189, 189);
  border-radius:1.4rem;
  padding:16px 18px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display:flex;
  flex-direction:column;
  align-items:center;
  gap:10px;
  position:relative;
  min-width: 27%;
}


.airline{
  color:#2271b3;         
  font-weight:800;
  font-size:18px;
}

.segment{
  display:grid;
  grid-template-columns: 56px 1fr 56px;
  
  align-items:center;
}
.time{ 
    font-weight:700; 
    font-size:18px; 
    color:#0b1524; 
}

.mid{ 
    display:flex;
    flex-direction: column;
    align-items:center; 
     
}

.duration{ 
    color:#6b7280; 
    font-size:13px; 
    
}

.line{ 
font-size: 0.7rem;
color:#9198a5;
}

.codes{
  grid-column: 1 / -1;
  display:grid;
  grid-template-columns: 56px 1fr 56px;
  font-size:14px; color:#6b7280;
}
.direct{
  justify-self:center;
  color:#1e90ff;
  font-weight:700;
  text-decoration: none;
}



.warning{
  color:#e66a5b;
  font-size:12px;
  font-weight:700;
}

.from{
  color:#2271b3;
  font-size:14px;
  font-weight:700;
  
}

.price{
  font-size:30px;
  font-weight:900;
  color:#0b1524;
}

.book{
  width:120px;
  height:40px;
  border:none;
  border-radius:10px;
  background:#f59c1a;
  color:#000;
  font-weight:800;
  cursor:pointer;
}

.details{
  background:transparent;
  border:none;
  color:#2271b3;
  font-weight:600;
  cursor:pointer;
}

@media (max-width: 765px) {

  .left {
    min-width: 100%;
  }
 .right {
  min-width: 60%;
  
 }

 .line{ 
font-size: 0.5rem;
color:#9198a5;
}
}


@media (max-width: 525px) {
    .left {
    min-width: 80%;
    padding: 0rem 0.4rem;
    
  }
 .right {
  min-width: 48%;
  padding: 0rem;
 }

 .airline {
  padding: 0.2rem;
 }

 .warning {
  padding-top: 2px;
 }

 .details {
  padding-bottom: 2px;
 }

 .book {
  
  width:100px;
  height:30px;
  border:none;
  border-radius:10px;
  background:#f59c1a;
  color:#000;
  font-weight:800;
  cursor:pointer;

 }

  .line{ 
font-size: 0.35rem;
color:#9198a5;
}


 @media (max-width: 425px) {
    .left {
    min-width: 80%;
    padding: 0rem 0.4rem;
    
  }
 .right {
  min-width: 48%;
  padding: 0rem;
 }

  .line{ 
font-size: 0.38rem;
color:#9198a5;
}
 }}


 @media (max-width: 398px) {
      .left {
    min-width: 75%;
    padding: 0rem 0.2rem;
    
  }
 .right {
  min-width: 45%;
  padding: 0rem;
 }

  .line{ 
font-size: 0.25rem;
color:#9198a5;
}

 }