
.wrap{
  display:flex;
  align-items: stretch;
  gap: 0rem;
  margin: 14px 0;
}


.left{
  background:#ffffff;
  border:1px solid #e6e6e6;
  border-right: 1.5px dashed rgb(189, 189, 189);
  border-radius:1.4rem;
  padding:16px 18px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display:flex;
  flex-direction:column;
  gap:14px;
  min-width: 50%;
}

.airline{
  color:#2271b3;         
  font-weight:800;
  font-size:18px;
}

.segment{
  display:grid;
  grid-template-columns: 56px 1fr 56px;
  row-gap:6px;
  align-items:center;
}
.time{ 
    font-weight:700; 
    font-size:18px; 
    color:#0b1524; 
}

.mid{ 
    display:flex; 
    align-items:center; 
    gap:10px; 
}

.duration{ 
    color:#6b7280; 
    font-size:13px; 
}

.line{ 
    flex:1; 
    height:2px; 
    background:#cfcfd2; 
    border-radius:1px; 
}

.codes{
  grid-column: 1 / -1;
  display:grid;
  grid-template-columns: 56px 1fr 56px;
  font-size:14px; color:#6b7280;
}
.direct{
  justify-self:center;
  color:#1e90ff;
  font-weight:700;
  text-decoration: underline;
}


.right{
  background:#ffffff;
  border:1px solid #e6e6e6;
  border-left: 1px dashed rgb(184, 181, 181);
  border-radius:1.4rem;
  padding:16px 18px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display:flex;
  flex-direction:column;
  align-items:center;
  gap:10px;
  position:relative;
  min-width: 27%;
}

.warning{
  color:#e66a5b;
  font-size:12px;
  font-weight:700;
}

.from{
  color:#2271b3;
  font-size:14px;
  font-weight:700;
  
}

.price{
  font-size:30px;
  font-weight:900;
  color:#0b1524;
}

.book{
  width:120px;
  height:40px;
  border:none;
  border-radius:10px;
  background:#f59c1a;
  color:#000;
  font-weight:800;
  cursor:pointer;
}

.details{
  background:transparent;
  border:none;
  color:#2271b3;
  font-weight:600;
  cursor:pointer;
}


@media (max-width: 760px){
  .wrap{
    grid-template-columns: 1fr; 
  }
  .divider{ display:none; }
  .left{
    border-right:1px solid #e6e6e6;
    border-radius:18px 18px 0 0;
  }
  .right{
    border-left:1px solid #e6e6e6;
    border-radius:0 0 18px 18px;
    align-items:flex-start;
  }
  .warning{ position:static; margin-top:-6px; }
  .from{ margin-top:0; }
}