* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  color: #222;
  padding: 0 15rem;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 60px;
}