.aboutWrapper {
    display: flex;
    align-items: center;
    padding: 4rem;
    gap: 3rem;
    padding-bottom: 15rem;
}


.titleWrapper {
    text-align: center;
    font-size: 2.5rem;
    margin-top: 2rem;
    background-color: #DEEAF5;
}


.aboutWrapper img {
    max-width: 530px;
    border-radius: 5px;
}

.aboutInfo p {
    display: flex;
    font-size: 2rem;
    padding: 0.2rem 0.2rem;
}



@media (max-width: 480px) {
  .aboutWrapper {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    
  }

  .aboutWrapper img {
    max-width: 390px;
    border-radius: 5px;
}



}